.img-wrapper {
  position: relative;
  text-align: center;
  color: white;
  max-height: 300px;
  overflow: hidden;
  min-height: 300px;
}


.centered-text {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  height: 300px;
  font-weight: 800;
  font-size: 18px;
  padding-top: 80px;
}

.item-wrapper {
  width: 100%;
  height: 150px;
  overflow: scroll;
  white-space: nowrap;
}

.item-img {
  display: inline-block;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-right: 1em;
}

.btn-orange {
  background: #f47900;
  color: white;
  font-weight: 900;
}

.btn-blue-outline {
  border: 1px solid #5e6df2;
  color: #5e6df2;
  background: white;
  font-weight: 900;
}

i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.btn-circle {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: background .4s ease-in-out;
  -moz-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
}